<p id="notice"><%= notice %></p>

<ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'League Home', @league %></li>
    <li><%= link_to 'Standings', standings_path %></li>
    <li><%= link_to 'Scoreboard', scoreboard_path %></li>
    <li><%= link_to 'Free Agents', free_agent_path %></li>
    <% if logged_in? %>
        <li><%= link_to 'My Team', @league %></li>
    <% end %>
</ul>

<p>
    <strong>Name:</strong>
    <%= @league.name %>
</p>

<p>
  <strong>Private:</strong>
  <%= @league.private %>
</p>

<p>
  <strong>Password:</strong>
  <%= @league.password %>
</p>

<p>
  <strong>Commissioner:</strong>
  <%= link_to @league.commissioner.name, @league.commissioner %>
</p>

<p>
  <strong>League Type:</strong>
  <%= @league.league_type %>
</p>

<p>
  <strong>Kill Points:</strong>
  <%= @league.kill_points %>
</p>

<p>
  <strong>Death Points:</strong>
  <%= @league.death_points %>
</p>

<p>
  <strong>Assist Points:</strong>
  <%= @league.assist_points %>
</p>

<p>
  <strong>Minion Kills Carry:</strong>
  <%= @league.minion_kills_carry %>
</p>

<p>
    <strong>Minion Kills Support:</strong>
    <%= @league.minion_kills_support %>
</p>

<p>
  <strong>Game Normal:</strong>
  <%= @league.game_normal %>
</p>

<p>
  <strong>Max Teams:</strong>
  <%= @league.max_teams %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
