<%= form_for(@player_score) do |f| %>
  <% if @player_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_score.errors.count, "error") %> prohibited this player_score from being saved:</h2>

      <ul>
      <% @player_score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.number_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.number_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :kills %><br>
    <%= f.number_field :kills %>
  </div>
  <div class="field">
    <%= f.label :deaths %><br>
    <%= f.number_field :deaths %>
  </div>
  <div class="field">
    <%= f.label :assists %><br>
    <%= f.number_field :assists %>
  </div>
  <div class="field">
    <%= f.label :minions %><br>
    <%= f.number_field :minions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
