<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pro_team.name %>
</p>

<p>
  <strong>Handle:</strong>
  <%= @pro_team.handle %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(raw @pro_team.image_url) %>
</p>

<p>
  <strong>Roster:</strong>
  <table>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.position %></td>
        <td><%= player.name %></td>
      </tr>
    <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_pro_team_path(@pro_team) %> |
<%= link_to 'Back', pro_teams_path %>
