<!DOCTYPE html>
<html>
<head>
  <title>LoLFantasy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Leagues', leagues_path %></li>
    <% if logged_in? %>
        <li><%= link_to 'My Leagues', my_leagues_path %></li>
    <% end %>
</ul>

<%= yield %>

</body>
</html>
